<div class="container mt-4 text-center">
  <h2 class="text-light mb-4">📅 Lista de Citas</h2>

  <table class="table table-dark table-striped table-hover align-middle shadow-lg rounded">
    <thead class="table-secondary text-dark">
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Motivo</th>
        <th>Paciente</th>
        <th>Médico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ cita.fecha }}</td>
        <td>{{ cita.motivo }}</td>
        <td>{{ cita.paciente?.nombre }} {{ cita.paciente?.apellido }}</td>
        <td>{{ cita.medico?.nombre }} {{ cita.medico?.apellido }}</td>
        <td>
         <div>activo</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="citas.length === 0" class="alert alert-info mt-4">
    No hay citas registradas todavía.
  </div>
</div>
